body {
	font-family: "Montserrat", sans-serif;
	background-color: #ffe4c4;
}
.heading {
	text-align: center;
	margin-top: 50px;
}
.colorvalue {
	margin: 20px auto;
	width: 20%;
	display: inherit;
	border: 0;
	font-size: 22px;
	padding: 10px 20px;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
}
.r {
	text-align: center;
	font-size: 22px;
	font-weight: 200 !important;
}
 